.wp-block-hrswp-er-award-description {
	border: 1px solid var(--wp--preset--color--cyan-bluish-gray);
	padding: 1rem;

	&.is-selected {
		border-color: transparent;
		box-shadow: 0 0 2px 1px var(--wp--preset--color--vivid-cyan-blue);
	}
}
